{include file="layout" /}
<body >
<div id="top">

</div>



<div id="center_right">



</div>


<div id="bottom">
    <form method="post" action="" target="exec_target">
        <h2>提现({$cashlistcount})</h2>
        {volist name="cashlist" id="cash"}
        <div>
            ID：{$cash.user_id}<br/>
            姓名：{$cash.name}<br/>
            银行卡号：{$cash.banknum}<br/>
            支付宝账号：{$cash.alipaynum}<br/>
            提现额度：{$cash.ydc}<br/>
            提现时间：{$cash.create_time}<br/>
            <input type="submit" value="确定" id="{$cash.cash_id}ok" onclick="WithdrawConfirm('confirmsuccess',{$cash.cash_id},{$cash.user_id},{$cash.ydc})"  />
            <input type="submit" value="取消" id="{$cash.cash_id}cancel" onclick="WithdrawConfirm('confirmfailed',{$cash.cash_id},{$cash.user_id},{$cash.ydc})" />
        </div>
        {/volist}
    </form>
    <iframe hidden id="exec_target" name="exec_target"></iframe>
</div>

</body>
