<html>
<head>
    <title>LOL</title>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js?version=1"></script>

    <script type="text/javascript" src="__JS__/action.js?version=2"></script>

    <link rel="stylesheet" href="__CSS__/style.css" type="text/css" />

    <script type="text/javascript">
        function MatchInvest(id){

            window.open("/index.php/lol/invest/matchinvest?id="+id);
//            var xmlhttp;
//            if (window.XMLHttpRequest){
//                //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
//                xmlhttp=new XMLHttpRequest();
//            }
//            else
//            {
//                // IE6, IE5 浏览器执行代码
//                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
//            }
//            xmlhttp.onreadystatechange = function(){
//                if(xmlhttp.readyState == 4 && xmlhttp.status == 200){
//                    alert(xmlhttp.responseText);
//                    document.getElementById("id").innerHTML = xmlhttp.responseText;
//                }
//
//            }
//            xmlhttp.open("GET", "/index.php/lol/index/matchinvest?id="+id, true);
//            xmlhttp.send()

        }
    </script>

</head>
<body >
<div id="top">

</div>

<div id="center_left" class="menuDiv">
    <ul>
        <li id="match"><a href="#">赛事列表</a></li>
        <li id="xiazhujilu"><a href="#">下注记录</a></li>
        <li id="chongzhitixian"><a href="#">充值提现</a>
            <ul>
                <li id="charge"><a href="#">充值</a></li>
                <li id="tixian"><a href="#">提现</a></li>
                <li id="zhuanzhang"><a href="#">转账</a></li>
                <li id="zhuanzhangjilu"><a href="#">转账记录</a></li>
            </ul>
        </li>
        <li id="personinfo"><a href="#">个人信息</a>
            <ul>
                <li id="displaypersoninfo"><a href="#">显示个人信息</a></li>
                <li id="xiugaimima"><a href="#">修改密码</a></li>
                <li id="xiugaierjimima"><a href="#">修改二级密码</a></li>
            </ul>
        </li>
        <li id="xitonggonggao"><a href="#">系统公告</a></li>

    </ul>

</div>

<div id="center_right">



</div>


<div id="bottom">
    <form method="post" >
        <h2>赛事列表（{$count}）</h2>
        {volist name="list" id="match" }
        <div class="info">
            比赛名称：{$match.caption}<br/>
            比赛时间：{$match.matchtime}<br/>
            <input type="submit" value="下注" onClick="MatchInvest({$match.id})" />

            <!--<input type="submit" value="下注" formaction="{:url('index.php/lol/index/matchinvest?id=1')}" />-->
        </div>
        {/volist}

    </form>
</div>

</body>
</html>