<html>
<head>
    <title>LOL</title>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>

    <script type="text/javascript" src="/__JS__/action.js"></script>
    <link rel="stylesheet" href="/__CSS__/style.css" type="text/css" />

</head>
<body >
<div id="top">

</div>

<div id="center_left" class="menuDiv">
    <ul>
        <li id="saishiliebiao"><a href="#">赛事列表</a></li>
        <li id="xiazhujilu"><a href="#">下注记录</a></li>
        <li id="chongzhitixian"><a href="#">充值提现</a>
            <ul>
                <li id="chongzhi"><a href="#">充值</a></li>
                <li id="tixian"><a href="#">提现</a></li>
                <li id="zhuanzhang"><a href="#">转账</a></li>
                <li id="zhuanzhangjilu"><a href="#">转账记录</a></li>
            </ul>
        </li>
        <li id="gerenxinxi"><a href="#">个人信息</a>
            <ul>
                <li id="xianshigerenxinxi"><a href="#">显示个人信息</a></li>
                <li id="xiugaimima"><a href="#">修改密码</a></li>
                <li id="xiugaierjimima"><a href="#">修改二级密码</a></li>
            </ul>
        </li>
        <li id="xitonggonggao"><a href="#">系统公告</a></li>

    </ul>

</div>

<div id="center_right">



</div>


<div id="bottom">


</div>

</body>
</html>