{include file="layout" /}
<body onload="GetMatch()">
<div id="top">

</div>

<div id="center_left" class="menuDiv">
    <ul>
        <li id="match"><a href="#">赛事列表</a></li>
        <li id="investrecord"><a href="#">下注记录</a></li>
        <li id="chongzhitixian"><a href="#">充值提现</a>
            <ul>
                <li id="charge"><a href="#">充值</a></li>
                <li id="withdraw"><a href="#">提现</a></li>
                <li id="transfer"><a href="#">转账</a></li>
                <li id="transferrecord"><a href="#">转账记录</a></li>
            </ul>
        </li>
        <li id="personinfo"><a href="#">个人信息</a>
            <ul>
                <li id="displaypersoninfo"><a href="#">显示个人信息</a></li>
                <li id="xiugaimima"><a href="#">修改密码</a></li>
                <li id="xiugaierjimima"><a href="#">修改二级密码</a></li>
            </ul>
        </li>
        <li id="xitonggonggao"><a href="#">系统公告</a></li>

    </ul>

</div>

<div id="center_right">



</div>


<div id="bottom">
    <form method="post" >
        <h2>赛事列表</h2>
        <div id="index_match">

        </div>

    </form>
</div>

</body>
