<html>
<head>
    <title>LOL</title>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js?version=1"></script>

    <script type="text/javascript" src="__JS__/action.js?version=1"></script>

    <script type="text/javascript">
        function MatchInfoInvest(id){
            var xmlhttp;
            if (window.XMLHttpRequest){
                //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                xmlhttp=new XMLHttpRequest();
            }
            else
            {
                // IE6, IE5 浏览器执行代码
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function(){
                if(xmlhttp.readyState == 4 && xmlhttp.status == 200){
                    document.getElementById("id").innerHTML = xmlhttp.responseText;
                }
            }
            xmlhttp.open("POST", "/index.php/lol/index/matchinfoinvest?id="+id, true);
            xmlhttp.send()

        }
    </script>
    <link rel="stylesheet" href="__CSS__/style.css" type="text/css" />

</head>
<body >
<div id="top">

</div>



<div id="center_right">



</div>


<div id="bottom">
    <form method="post" >
        <h2>赛事列表（{$matchinfocount}）</h2>
        {volist name="matchinfolist" id="matchinfo" }
        <div class="info">
            比赛名称：{$matchinfo.caption}<br/>
            赔率：{$matchinfo.rate}<br/>
            当前可下注额度：{$matchinfo.remaininvest}<br/>
            下注截止时间：{$matchinfo.cutofftime}<br/>
            <p id="id"></p>
            <input type="submit" value="下注" onClick="MatchInfoInvest({$matchinfo.id})" />
        </div>
        {/volist}

    </form>
</div>

</body>
</html>